* {
            background-color: aqua;

            padding: 0;
        }

        body {
            border: 5px solid darkblue
        }

        h1 {
            color: darkgray;
            text-align: center;
            text-transform: uppercase;
            font-style: italic;
            font-size: 275%;
        }

        h2 {
            color: grey;
            font-style: italic;
            text-transform: uppercase;
        }


        .box {
            background-color: darkblue;
            display: inline-block;
            text-align: center;
            font-style: italic;
            padding-top: 2%;
            padding-left: 15%;

            padding-bottom: 2%;
            font-size: 155%;
        }

        img {
            float: right;
            padding-left: 15%;
            padding-right: 15%;
            padding-top: 2%;
            padding-bottom: 2%;
            width: 12%;
            border-radius: 75%;
        }



        .box1 {
            display: inline-block;
            padding: 0% 5% 0% 5%;


        }

        .box2 {
            display: inline-block;
            padding: 0% 0% 0 10%;
        }

        .box3 {
            display: inline-block;
            padding: 0 0 0 5%
        }

        .new {
            padding-left: 5%;
        }

        table {
            font-size: 110%;
            border-spacing: 0px;
        }

        th {
            text-transform: uppercase;
        }

        .sixe {
            font-size: 120%;
        }
 
