* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/170/829/desktop-wallpaper-white-resume-cv-accountant-backgrounds-cv.jpg);

    background-size: 100%;
    /* border: 5px solid darkblue */
}

h1 {
    color: darkgray;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: 275%;
}

h2 {
    color: grey;
    font-style: italic;
    text-transform: uppercase;
}


.box {
    background-size: 100%;

    /* background-color: darkblue; */
    display: inline-block;
    text-align: center;
    font-style: italic;
    padding: 2% 5% 2% 15%;
    /* padding-left: 10%; */
    /* padding-right: 10%; */

    /* padding-bottom: 2%; */
    font-size: 155%;
}

img {
    /* z-index: 1; */
    /* float: right; */
    /* padding-left: 15%; */
    /* padding-right: 15%; */
    /* padding: 1% ; */
    /* padding-top: 12%; */
    /* padding-bottom: 2%; */
    width: 12%;
    margin-left: 25%;
    margin-bottom: 7%;
    border-radius: 75%;
}



.box1 {
    display: inline-block;
    padding: 0% 5% 0% 5%;


}

.box2 {
    display: inline-block;
    padding: 0% 0% 0 10%;
}

.box3 {
    display: inline-block;
    padding: 0 0 0 5%
}

.new {
    padding-left: 5%;
}

table {
    font-size: 100%;

}

th {
    text-transform: uppercase;
}

.sixe {
    font-size: 120%;
}