<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Todo List</h1>
    <ol>
        {%for i in range(itemList|length)%}

        <li>{{itemList[i]}}<button><a href="/delete/{{itemList[i]}}">Delete</a></button><button><a href="/updatepage/{{i}}">Update</a></button></li>

        {%endfor%}

    </ol>
    <form action="/todo" method="post">
        <label>Item </label>
        <input type="text" name="list_items" />
        <input type="submit" value="submit" />
    </form>

</body>

</html>