body{
    background-image:url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm422-068-x.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=dba86d7193a2fab7a135b649bc826c94);
    /* background-color: rgb(243, 243, 106); */
}
div{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:75px 75px;
}
img{
    border: 1px solid black;
    width:20%;
    height: 250px;
    border-radius: 50%;
   
}